In [1]:
# carga la extensión autoreload
%load_ext autoreload

# establece el nivel de autorecarga en 2
%autoreload 2

import sys
sys.path.append('../')

In [2]:
import pandas as pd
from db.client import MongoDBConnection

### CONEXIÓN A LA BASE DE DATOS

In [3]:
mongo_connection = MongoDBConnection()
db = mongo_connection.get_database()

In [5]:
N = db['n']
TMI_VALORES_MENSUALES = db['tmi_valores_mensuales']

### CARGAR DATOS: N

In [28]:
df_n = pd.read_excel(r'datos\2408 ECUACIONES TMI.xlsx', sheet_name='N_ajustado')
df_n.columns = df_n.columns.str.lower()

In [29]:
df_n['orientacion'] = df_n['orientacion'].str.lower()

In [30]:
n_dict = df_n.to_dict('records')

In [31]:
N.drop()
N.insert_many(n_dict)

### CARGAR DATOS: VALORES MENSUALES TMI

In [6]:
data = {
    "mes": [
        "enero",
        "febrero",
        "marzo",
        "abril",
        "mayo",
        "junio",
        "julio",
        "agosto",
        "septiembre",
        "octubre",
        "noviembre",
        "diciembre",
    ],
    "temperatura": [
        18.49,
        18.35,
        18.51,
        18.55,
        18.58,
        18.73,
        18.92,
        19.42,
        19.21,
        18.23,
        18.07,
        17.95,
    ],
    "precipitacion": [
        192.15,
        156.41,
        168.63,
        178.27,
        169.66,
        64.58,
        56.99,
        46.95,
        60.26,
        208.7,
        339.42,
        280.48,
    ],
    "d": [
        31,
        28,
        31,
        30,
        31,
        30,
        31,
        31,
        30,
        31,
        30,
        31
    ]
}

df_valores_mensuales = pd.DataFrame(data)

In [9]:
TMI_VALORES_MENSUALES.drop()
TMI_VALORES_MENSUALES.insert_many(df_valores_mensuales.to_dict('records'))