In [53]:
import pandas as pd
from pymongo import MongoClient

In [54]:
client = MongoClient('mongodb+srv://cristian:rh0npuojYoJ9CObt@invias.aspcs.mongodb.net/')
db = client['db_invias']

In [55]:
N = db['n']

In [78]:
data = {
    "mes": [
        "enero",
        "febrero",
        "marzo",
        "abril",
        "mayo",
        "junio",
        "julio",
        "agosto",
        "septiembre",
        "octubre",
        "noviembre",
        "diciembre",
    ],
    "temperatura": [
        18.49,
        18.35,
        18.51,
        18.55,
        18.58,
        18.73,
        18.92,
        19.42,
        19.21,
        18.23,
        18.07,
        17.95,
    ],
    "precipitacion": [
        192.15,
        156.41,
        168.63,
        178.27,
        169.66,
        64.58,
        56.99,
        46.95,
        60.26,
        208.7,
        339.42,
        280.48,
    ],
    "d": [
        31,
        28,
        31,
        30,
        31,
        30,
        31,
        31,
        30,
        31,
        30,
        31
    ]
}

df = pd.DataFrame(data)

In [79]:
df

           mes  temperatura  precipitacion   d
0        enero        18.49         192.15  31
1      febrero        18.35         156.41  28
2        marzo        18.51         168.63  31
3        abril        18.55         178.27  30
4         mayo        18.58         169.66  31
5        junio        18.73          64.58  30
6        julio        18.92          56.99  31
7       agosto        19.42          46.95  31
8   septiembre        19.21          60.26  30
9      octubre        18.23         208.70  31
10   noviembre        18.07         339.42  30
11   diciembre        17.95         280.48  31

In [80]:
df['i'] = (df['temperatura']/5) ** 1.514

In [81]:
P = df['precipitacion'].sum()
I = df['i'].sum()
a = (0.000000675 * I**3) - (0.0000771 * I**2) + (0.01792 * I) + 0.49239

In [82]:
df['ETPsc'] = 16 * (10 * df['temperatura'] / I) ** a

In [83]:
datos_n = pd.DataFrame(list(N.find({}, {'_id': 0})))

In [84]:
ORIENTACION = 'norte'
LATITUD = 2.5

In [85]:
datos_n_select = datos_n[(datos_n['orientacion']==ORIENTACION)&(datos_n['latitud']==LATITUD)]

In [86]:
df['N'] = datos_n_select[df['mes'].to_list()].values[0]

In [89]:
df['ETPcrr'] = df['ETPsc']*df['N']/12*df['d']/30

In [90]:
df

,mes,temperatura,precipitacion,d,i,ETPsc,N,ETPcrr
0,enero,18.49,192.15,31,7.242723,67.362541,11.9,69.027893
1,febrero,18.35,156.41,28,7.159858,66.384493,11.9,61.442537
2,marzo,18.51,168.63,31,7.254588,67.502823,12.0,69.752917
3,abril,18.55,178.27,30,7.278336,67.783807,12.1,68.348672
4,mayo,18.58,169.66,31,7.296165,67.994913,12.1,70.846922
5,junio,18.73,64.58,30,7.385529,69.055172,12.1,69.630632
6,julio,18.92,56.99,31,7.499253,70.409475,12.1,73.362762
7,agosto,19.42,46.95,31,7.801332,74.033754,12.1,77.139059
8,septiembre,19.21,60.26,30,7.673966,72.500915,12.0,72.500915
9,octubre,18.23,208.70,31,7.089089,65.551637,11.9,67.172219
10,noviembre,18.07,339.42,30,6.995102,64.449021,11.9,63.911946
11,diciembre,17.95,280.48,31,6.924892,63.627956,11.9,65.200981