In [ ]:
import pandas as pd
import math

In [7]:
E = 1500
Vd = 11
Va = 5
C = 10**(4.84*(Vd/(Vd+Va)-0.69))
hcm = 10
hin = hcm/2.54

In [10]:
k = 1 / (0.000398 + (0.003602 / (1 + math.exp(11.02 - 3.49 * hin))))

In [14]:
coef_regresion_k1_df = pd.DataFrame(
    {
        "modelo": [
            "SPDM",
            "Asphalt Institute MS-1",
            "NCHRP ME-PDG",
        ],
        "K": [
            10,
            18.4,
            k
        ]
    }
)

coef_regresion_k1_df

                   modelo           K
0                    SPDM   10.000000
1  Asphalt Institute MS-1   18.400000
2            NCHRP ME-PDG  264.731178